@import "tailwindcss";

:root {
  --nav-h: 3rem;
}

html {
  scroll-behavior: smooth;
}

@variant dark (&:where([data-theme="dark"], [data-theme="dark"] *));

/* Light theme (default) */
@theme {
  --color-base: #e9edf2;
  --color-foreground: #1e293b;
  --color-card: #f8fafc;
  --color-primary: #3b82f6;
  --color-secondary: #8b5cf6;
  --color-accent: #ec4899;
  --color-muted: #f1f5f9;
  --color-border: #e2e8f0;
  --color-variables: #1e293b;
}

/* Dark theme */
@layer theme {
  [data-theme="dark"] {
    --color-base: rgba(15, 23, 42, 1);
    --color-foreground: #f8fafc;
    --color-card: #0f172a;
    --color-primary: #60a5fa;
    --color-secondary: #a78bfa;
    --color-accent: #f472b6;
    --color-muted: #334155;
    --color-border: #1e293b;
    --color-variables: #f8fafc;
  }
}
