@import "tailwindcss";

:root {
  --nav-h: 3rem;
}
body {
  font-family: "Space Grotesk", sans-serif;
}
html {
  scroll-behavior: smooth;
}
.hero-heading {
  font-family: "Archivo Black", sans-serif;
}
@variant dark (&:where([data-theme="dark"], [data-theme="dark"] *));

/* Light theme (default) */
@theme {
  --color-base: #dde3ea;
  --color-foreground: #1e293b;
  --color-card: #f8fafc;
  --color-primary: #3b82f6;
  --color-secondary: #bf2bff;
  --color-accent: #ec4899;
  --color-muted: #f1f5f9;
  --color-border: #e2e8f0;
  --color-variables: #1e293b;
}

/* Dark theme */
@layer theme {
  [data-theme="dark"] {
    --color-base: rgba(15, 23, 42, 1);
    --color-foreground: #f8fafc;
    --color-card: #0f172a;
    --color-primary: #3b82f6;
    --color-secondary: #a43bd1;
    --color-accent: #f472b6;
    --color-muted: #334155;
    --color-border: #1e293b;
    --color-variables: #f8fafc;
  }
}
